:root{
    --cor-fundo:#7608a9;
    --cor-principal: hsl(248, 78%, 55%);
    --cor-segundaria:#15108f ;
    --cor-destaque: #25135a;
    --cor-texto:#0a0310 ; 
}
body{ background-color: var(--cor-fundo);
    color: var(--cor-texto);

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;    
}
.button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}